@{
    ViewData["Title"] = "Update";
}
@model ProductDto

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <form asp-controller="Products" asp-action="Update" method="post" class="needs-validation" novalidate>
                <h4 class="card-title">Ürün Güncelle</h4>
                 <input type="hidden" asp-for="Id"  id="ProductsIdUpdate">

                <div class="mb-3 row">                  
                    <label asp-for="CategoryId" class="col-md-2 col-form-label"></label>
                    <div class="col-md-6">
                  
                        <select id="ProductsCategoryIdUpdate" asp-for="CategoryId" asp-items="ViewBag.categories" class="form-select" placeholder="Kategori Seçiniz"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>               
                    </div>
                </div>               

                  <div class="mb-3 row">              
                    <label asp-for="Name" class="col-md-2 col-form-label">Adı</label>
                    <div class="col-md-6">
                        <input id="ProductsNameUpdate" asp-for="Name" type="text" class="form-control" placeholder="Ürün Adını Yazınız" required>
                         <div class="invalid-feedback">Ürün Adı Boş olamaz!</div>                    
                    </div>
                  </div>

                <div class="mb-3 row">
                    <label asp-for="Code" class="col-md-2 col-form-label">Kodu</label>
                    <div class="col-md-6">
                        <input id="ProductsCodeUpdate" asp-for="Code" type="text" class="form-control" placeholder="Ürün Kodunu Yazınız" required>
                        <div class="invalid-feedback">Ürün Kodu Boş olamaz!</div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Barcode" class="col-md-2 col-form-label">Barkod</label>
                    <div class="col-md-6">
                        <input id="ProductsBarcodeUpdate" asp-for="Barcode" type="text" class="form-control" placeholder="Ürün Barkodunu Yazınız" required>
                        <div class="invalid-feedback">Ürün Barkod Boş olamaz!</div>
                    </div>
                </div>



                <div class="mb-3 row">
                    <label asp-for="PurchasePrice" class="col-md-2 col-form-label">Alış Tutarı</label>
                    <div class="col-md-6">
                        <input id="ProductsPurchasePriceUpdate" asp-for="PurchasePrice" type="text" class="form-control" placeholder="Alış Tutarını Yazınız" required>
                        <div class="invalid-feedback">Ürün Alış Tutarı Boş olamaz!</div>
                    </div>
                </div>

                
                <div class="mb-3 row">
                    <label asp-for="SalePrice" class="col-md-2 col-form-label">Satış Tutarı</label>
                    <div class="col-md-6">
                        <input id="ProductsSalePriceUpdate" asp-for="SalePrice" type="text" class="form-control" placeholder="Satış Tutarını Yazınız" required>
                        <div class="invalid-feedback">Ürün Satış Tutarı Boş olamaz!</div>
                    </div>
                </div>
                
                 <div class="mb-3 row">
                    <label asp-for="Stock" class="col-md-2 col-form-label">Stok</label>
                    <div class="col-md-6">
                        <input id="ProductsStockUpdate" asp-for="Stock" type="text" class="form-control" placeholder="Stok Griniz" required>
                        <div class="invalid-feedback">Ürün Stok Miktarı Boş olamaz!</div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label asp-for="TechnicalWebUrl" class="col-md-2 col-form-label">Teknik Link</label>
                    <div class="col-md-6">
                        <input id="ProductsTechnicalWebUrlUpdate" asp-for="TechnicalWebUrl" type="text" class="form-control" placeholder="Teknik Döküman Linki Giriniz" required>
                        <div class="invalid-feedback">Ürünün Teknik Link Yolu Boş olamaz!</div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label asp-for="ExplanationWebUrl" class="col-md-2 col-form-label">Açıklama Link</label>
                    <div class="col-md-6">
                        <input id="ProductsExplanationWebUrlUpdate" asp-for="ExplanationWebUrl" type="text" class="form-control" placeholder="Açıklama Döküman Linki Giriniz" required>
                       <div class="invalid-feedback">Ürünün Açıklama Link Yolu Boş olamaz!</div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label asp-for="Explanation" class="col-md-2 col-form-label">Açıklama</label>
                    <div class="col-md-6">
                        <input id="ProductsExplanationUpdate" asp-for="Explanation" type="text" class="form-control" placeholder="Açıklama" required>
                       <div class="invalid-feedback">Ürünün Açıklama Boş olamaz!</div>
                    </div>
                </div>


                




            </form>

      


        </div>
    </div>
</div>

