@{
    ViewData["Title"] = "Save";
}
@model ProductWeightUnitsDto




<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <form asp-action="Save" method="post" asp-controller="ProductsWeight" class="needs-validation" novalidate>
                <h4 class="card-title">Ağırlık Kayıt</h4>



                <div class="mb-3 row">
                    <label asp-for="Name" class="col-md-2 col-form-label" for="ProductProjectBrandsNameSave">Adı</label>
                    <div class="col-md-6">
                        <input asp-for="Name" type="text" class="form-control" id="ProductProjectNameSave" placeholder="Ağırlık Birimi Yazınız" required>
                        <div class="invalid-feedback"> Ağırlık Birimi Boş olamaz!</div>
                    </div>
                </div>


                <div class="mb-3 row">
                    <label asp-for="ShortCode" class="col-md-2 col-form-label"> Kod</label>
                    <div class="col-md-6">
                        <input asp-for="ShortCode" id="BrandsWebUrlSave" class="form-control" type="text" placeholder="Ağırlık Birimi Kodu Yazınız" required>
                        <div class="invalid-feedback">Ağırlık Birimi Kodu Boş olamaz!</div>
                    </div>
                </div>



                <div class="mb-3 row">
                    <label asp-for="Explanation" class="col-md-2 col-form-label"> Açıklama </label>
                    <div class="col-md-6">
                        <input asp-for="Explanation" id="BrandsWebUrlSave" class="form-control" type="text" placeholder="Açıklama Yazınız" required>
                        <div class="invalid-feedback">Açıklama Birimi Kodu Boş olamaz!</div>
                    </div>
                </div>

   

                <input type="submit" class="btn btn-primary waves-effect waves-light me-1 form-group" />




            </form>


        </div>
    </div>
</div>


