@{
    ViewData["Title"] = "Details";
}
@model ProductVatUnitsDto 

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <form asp-controller="ProductsVat" asp-action="Details" method="post" class="needs-validation" novalidate>
                <h4 class="card-title">Ölçü Detay</h4>
                <input type="hidden" asp-for="ProductVatId" id="ProductColorIdDetails">


                <div class="mb-3 row">
                    <label asp-for="Name" class="col-md-2 col-form-label">Adı</label>
                    <div class="col-md-6">
                        <input id="ProductBrandsNameDetails" asp-for="Name" type="text" class="form-control" disabled>

                    </div>
                </div>



                <div class="mb-3 row">
                    <label asp-for="Code" class="col-md-2 col-form-label">Kodu</label>
                    <div class="col-md-6">
                        <input id="ProductBrandsWebUrlDetails" asp-for="Code" type="text" class="form-control" disabled>

                    </div>
                </div>


                <div class="mb-3 row">
                    <label asp-for="Explanation" class="col-md-2 col-form-label">Açıklama</label>
                    <div class="col-md-6">
                        <input id="ProductBrandsWebUrlDetails" asp-for="Explanation" type="text" class="form-control" disabled>

                    </div>
                </div>
 
            </form>


        </div>
    </div>
</div>

